
.swiper2 .swiper-slide .card {
    /* box-shadow: -8px -8px 32px rgba(0, 0, 0, 0.1), 8px 8px 32px rgba(0, 0, 0, 0.1); */
    box-shadow: -8px -8px 16px rgba(0, 0, 0, 0.1), 8px 8px 16px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}

.swiper2 .swiper-slide .card{
    height: 21rem;
}


.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    /* background: white */
};

#faq {
    border: 20px solid #0E3C6E;
    background-color: #F5F7F9;
    border-radius: 40px;
}


#question {
    background-color: #FFFFFF;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);    
    border-radius: 18px;
}
/* body {
    background-color: white;
} */

#section4 .card {
    background-color: white;
    box-shadow: -8px -8px 32px rgba(0, 0, 0, 0.1), 8px 8px 32px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    width: 100%;
}

#section4 {
    background-color: linear-gradient(106.1deg, #97E6FF 8.21%, rgba(166, 144, 252, 0.75176) 42.1%, rgba(252, 150, 187, 0.46) 67.33%, rgba(255, 195, 151, 0.28) 93.17%);
    
}



#section4 .card .card-title{
    color: #0E3C6E;
}

#section4 .card .card-text{
    color: #656565;
}

.text1 {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);;
}

#section2a .container{
    border-top: 2px solid rgba(0, 0, 0, 0.2);;
}

#join_now {
    background-color: #0E3C6E;
    color: white;
    box-shadow: -8px -8px 16px rgba(0, 0, 0, 0.1), 8px 8px 16px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}

#section6 .card {
    background-color: #FFFFFF;
    box-shadow: -8px -8px 32px rgba(0, 0, 0, 0.1), 8px 8px 32px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}

#text-und {
    border-bottom: 20px solid rgba(55, 219, 255, 0.5);;
}

#section1 span {
    background-color: #EBF3FF;
    border-radius: 20px;
}

#section1 {
    background-color: #0E3C6E4D;
}

#section2a {
    background-color: white;
}